#cloud-config
autoinstall:
  version: 1
  packages:
    - helm
  identity:
    username: ubuntu
    password: '$1$w4dBmuv4$aI8GeEYOVkjQtA8JkXmR20'
    hostname: ${hostname}
  ssh:
    install-server: true
    allow-pw: true
    authorized-keys:
      - ${sshkey}
  user-data:
    disable_root: false
    ssh_pwauth: true