#cloud-config
disable_root: false
ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII8wNgHtY1Lao00trZ8XoweIxa4F9T/wekoP2e2VzZPq simon.lynch@hashicorp.com
runcmd:
  - sudo curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
  - sudo install minikube-linux-amd64 /usr/local/bin/minikube
  - echo "starting minikube" >> /var/log/cloud-init-minikube.log
  - sudo -u ubuntu minikube start >> /var/log/cloud-init-minikube.log
  - [ sh, -c, "sleep 10" ]
  - echo "applying github arc" >> /var/log/cloud-init-minikube.log
  - sudo -u ubuntu kubectl create namespace actions-runner-system
  - sudo -u ubuntu kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.13.2/cert-manager.yaml >> /var/log/cloud-init-minikube.log
  - [ sh, -c, "sleep 5" ]
  - sudo -u ubuntu kubectl -n actions-runner-system replace -f https://github.com/actions/actions-runner-controller/releases/download/v0.27.5/actions-runner-controller.yaml >> /var/log/cloud-init-minikube.log
  - [ sh, -c, "sleep 5" ]
  - sudo -u ubuntu kubectl create secret generic controller-manager --from-literal=github_token=${github_token} -n actions-runner-system >> /var/log/cloud-init-minikube.log
  - | 
    sudo -u ubuntu tee /home/ubuntu/runner-deployment.yaml <<EOF
    apiVersion: actions.summerwind.dev/v1alpha1
    kind: RunnerDeployment
    metadata:
      name: repo-specific-runner
    spec:
      replicas: 3
      template:
        spec:
          image: summerwind/actions-runner:ubuntu-22.04
          repository: tfo-apj-demos/packer-images
          labels:
            - self-hosted
            - linux
            - gcve
    EOF
  - sudo -u ubuntu kubectl -n actions-runner-system apply -f /home/ubuntu/runner-deployment.yaml >> /var/log/cloud-init-minikube.log